/*****TypographyCSS*****/
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport {
  width: device-width; }


body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
 }

textarea {
  overflow: auto;
  resize: vertical; }

h1, .h1 {
  font-size: 2.75rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.125rem; }

h4, .h4 {
  font-size: 1rem; }

h5, .h5 {
  font-size: 0.875rem; }

h6, .h6 {
  font-size: 0.813rem; }

.lead {
  font-size: 1.4rem;
  font-weight: 400; }

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2; }

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2; }

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
/*****TypographyCSS*****/

